body {background-image: url("bkg.png");background-size: cover; background-repeat: no-repeat;}

.background-container {width:100vw; height: 100vh;z-index:-1; top:0; left:0; position: relative; margin: 0; padding: 0; }

.logo {transform: rotate(90deg);position: absolute;top:200px;left: -220px;}

h1{font-family: Avenir Next; font-weight: 50; color: #ffffff; font-size: 39.5px; 
	position: absolute; top: 88px; left: 370px; text-shadow: 1px 1px #000000;}

h2{font-family: Avenir Next Condensed; color: #ffffff; font-size: 185px; 
	font-weight: normal; position: absolute; top: 25px; left: 356px; line-height: 180px; text-shadow: 1px 1px #000000;}


h3 {font-family: Avenir Next; font-weight: 50; color: #ffffff; font-size: 48px; 
	position: absolute; top: 517px; left: 365px;text-shadow: 1px 1px #000000;}

.box1 {width:740px; height:4px; background-color: #ffffff; top: 545px; left: 365px; position: absolute;}

p {font-family: Avenir Next; font-size: 35px; color: #ffffff; position: absolute;}

.firstP {top: 760px; left: 365px;text-shadow: 1px 1px #000000;}

.secondP {top: 817px; left: 365px;text-shadow: 1px 1px #000000;}

.thirdP {top: 975px; left: 365px;text-shadow: 1px 1px #000000;}

.fifthP {font-family: Avenir Next; font-size: 25px; line-height: 30px; 
	color: #ffffff; position: absolute; top: 1570px; left: 320px; }

.sixthP {font-family: Avenir Next; font-size: 25px; line-height: 30px; 
	color: #ffffff; position: absolute; top: 1850px; left: 320px;}

.seventhP {display:none;}

.eightP {display:none;}

.ninthP {display:none;}

h4 {font-family: Avenir Next Condensed; font-weight: normal; font-size: 75px; 
	position: absolute;top: 2040px; left: 320px; color:#ffffff;}

@keyframes slider {

	0%{ left:0; }
	20% {left: 0;}
	25% {left:-100%;}
	45% {left:-100%;}
	50% {left:-200%;}
	70% {left:-200%;}
	75% {left:-300%;}
	95% {left:-300%;}
	100% {left:-300%;}


}

#slider {overflow: hidden;}

body {overflow-x: hidden;}

#slider figure img {width: 5%; height: 6%; float: left;}

#slider figure {position: absolute; top: 2400px; width: 900%; margin:0; left:0; animation: 20s slider infinite;}

.video {position: absolute; top:1170px; left: 420px;}

@media(max-width: 550px) {  /* Any window smaller than this px width gets the following CSS rules */
  /* Rules go here */

 #slider {display: none;}

 .logo {display: none;}

 .box1 {display: none;}
 

body{background-size: cover; width: 100%; height: 100%; background-image: url("mobile_background3.png");}

h1 {font-family:Avenir Next; font-weight: bold; color:#ffffff; font-size: 3.8vw; position: absolute; 
	top: 100vmin; margin: 0 auto; text-shadow: 1px 1px #000000; left: 20px; padding: 30px;}

h2{font-family: Avenir Next Condensed; font-weight: normal; color: #ffffff;font-size: 23vw; 
	position: absolute; top: 120vmin; left: -30px; margin: 0 auto; text-shadow: 1px 1px #000000; 
	padding:30px; text-align: center; line-height: 100px;}

h3{font-family: Avenir Next; font-weight: bold; color: #ffffff; font-size: 6vw; 
position: absolute; top: 180vmin; left: 10vw; text-shadow: 1px 1px #000000; text-align: center;}

p {font-family: Avenir Next; font-size: 23px; color: #ffffff; position: absolute; padding: 30px;}

.firstP {top: 200vmin; left: 3vw; text-shadow: 1px 1px #000000;}

.secondP {display:none;}

.thirdP {top: 270vmin; left: 3vw; text-shadow: 1px 1px #000000;}

h4{font-family: Avenir Next Condensed; font-weight: normal; font-size: 18vw; 
position: absolute; top: 290vmin; left: 0px; color:#ffffff; text-align: center;} 

.fifthP {display:none;}

.sixthP{display:none;}

.seventhP{ display: block; font-family: Avenir Next; font-size: 15px; line-height: 17px; 
color: #ffffff; position: absolute; top: 425vmin; left: 15px;}

.eightP {display:block; font-family: Avenir Next; font-size: 15px; line-height: 17px; 
color: #ffffff; position: absolute; top: 480vmin; left: 15px;}

.ninthP {display: block; top: 226vmin; left: 3vw; text-shadow: 1px 1px #000000;}

.video {position: absolute; top:1450px; left: 42px; width:320px; height:250px;}


}


