html, body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover; 
}

body {
	width:80vw;
	margin-left: 10vw;
	background-image: url("paperbkg.png");
}

h1 {font-family: 'Rosario', sans-serif; color: #AB0000; text-shadow: 1px 1px 4px #000;}

h2 {font-family: 'Rosario', sans-serif; color: #AB0000; text-shadow: 1px 1px 2px #000;}

.header1 {
	font-family: 'Rosario', sans-serif; 
	color: #AB0000; 
	text-shadow: 1px 1px 1px #000; 
	font-size: 18px; 
	padding-top: 12px;

}

.header2 {
	font-family: 'Rosario', sans-serif; 
	color: #AB0000; 
	text-shadow: 1px 1px 1px #000; 
	font-size: 18px;
	padding-top: 12px;
}

p {
	font-family: 'Rosario', 
	sans-serif; 
	color: #000000;
	font-size: 15px;
	line-height: 23px;
	text-indent: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 6px;
}

img {
	width:100vw;
	margin-left: -10vw;
}

.pullquote {
	font-family: 'Rosario', 
	sans-serif; 
	color: #FEDA0D;
	font-size: 45px;
	line-height: 56px;
	text-indent: 20px;
	padding-left: 10vw;
	text-shadow: 1px 1px 5px #000;
	text-align: justify-all;
}

.header3 {
	font-family: 'Rosario', sans-serif; 
	color: #AB0000; 
	text-shadow: 1px 1px 1px #000; 
	font-size: 18px;
	padding-top: 12px;
}

.header4 {
	font-family: 'Rosario', sans-serif; 
	color: #AB0000; 
	text-shadow: 1px 1px 1px #000; 
	font-size: 18px;
	padding-top: 12px;
}

a {
	font-family: 'Rosario', sans-serif; 
	color: #AB0000; 
	text-shadow: 1px 1px 2px #000; 
	text-decoration: none;
	padding-left: 65vw;
}

a:hover {
	color: yellow; 
	text-decoration: none; 
	transition: 1s;
}

/*h3 {font-family: 'Rosario', sans-serif; color: #AB0000; font-size: 9px;}

h4 {font-family: 'Rosario', sans-serif; color: #AB0000; font-size: 9px;}

h5 {font-family: 'Rosario', sans-serif; color: #AB0000; font-size: 9px;}*/