html, body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}

body {
	width:80vw;
	margin-left: 10vw;
	
}

.background-container {
	width: 100vw;
	height: 100vh;
	background-image: url("paperbkg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

}

h1 {font-family: 'Gilda Display', serif; color: #AB0000;}

h2 {font-family: 'Gilda Display', serif; color: #AB0000;}

.header1 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px; 
	padding-top: 12px;

}

.header2 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

p {
	font-family: 'Rosario', 
	sans-serif; 
	color: #000000;
	font-size: 15px;
	line-height: 23px;
	text-indent: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 6px;
}

img {
	width:100vw;
	margin-left: -10vw;
}

.pullquote {
	font-family: 'Gilda Display', serif;
	color: #AB0000;
	font-size: 22px;
	line-height: 36px;
	text-indent: 10px;
	padding-left: 10vw;
}

.header3 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

.header4 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

a {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	text-decoration: none;
	padding-left: 52vw;
}

a:hover {
	color: blue; 
	text-decoration: none; 
	transition: 1s;
}

/*h3 {font-family: 'Rosario', sans-serif; color: #AB0000; font-size: 9px;}

h4 {font-family: 'Rosario', sans-serif; color: #AB0000; font-size: 9px;}

h5 {font-family: 'Rosario', sans-serif; color: #AB0000; font-size: 9px;}*/