html, body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}

body {
	width:90vw;
	margin-left: 5vw;
}

.background-container {
	width: 100vw;
	height: 100vh;
	background-image: url("paperbkg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: .8;

}

h1 {font-family: 'Gilda Display', serif; color: #AB0000;}

h2 {font-family: 'Gilda Display', serif; color: #AB0000;}

.header1 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px; 
	padding-top: 12px;

}

.header2 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

p {
	font-family: 'Rosario', 
	sans-serif; 
	color: #000000;
	font-size: 15px;
	line-height: 23px;
	text-indent: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
}

img {
	width:100vw;
	margin-left: -5vw;
}

.pullquote {
	font-family: 'Gilda Display', serif;
	color: #AB0000;
	font-size: 22px;
	line-height: 36px;
	text-indent: 10px;
	padding-left: 10vw;

}


.header3 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

.header4 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

.coverlink {
	color:#ffffff;
	padding: 0;
}

a {
	font-family: 'Rosario', 
	sans-serif; 
	color:#AB0000; 
	text-decoration: none;
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 4vw;
	padding-left: 45vw;
}

a:hover {
	text-decoration: none;
	color: #fd39e6;
	transition: 1.5s;
	z-index: 1;
}

#secondpart{
	padding-left: 60vw;
}

.slider {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	background-size: cover !important; 

}

.slide1 {
	background: url("cover1.jpg") no-repeat;
	animation:fade 15s infinite;
	-webkit-animation:fade 15s infinite;
}

.slide3 {
	background: url("cover3.jpg") no-repeat;
	animation:fade2 15s infinite;
	-webkit-animation:fade2 15s infinite;
}

.slide4 {
	background: url("cover4.jpg") no-repeat;
	animation:fade3 15s infinite;
	-webkit-animation:fade3 15s infinite;
}

.slide5 {
	background: url("cover5.jpg") no-repeat;
	animation:fade4 15s infinite;
	-webkit-animation:fade4 15s infinite;
}

@keyframes fade {
	0% {opacity: 1}
	33.333% {opacity: 0}
	66.666% {opacity: 0}
	100% {opacity: 1}
}

@keyframes fade2 {
	0% {opacity: 0}
	33.333% {opacity: 1}
	66.666% {opacity: 0}
	100% {opacity: 0}
}

@keyframes fade3 {
	0% {opacity: 0}
	33.333% {opacity: 0}
	66.666% {opacity: 1}
	100% {opacity: 0}
}

@keyframes fade4 {
	0% {opacity: 0}
	33.333% {opacity: 0}
	66.666% {opacity: 0}
	100% {opacity: 1}
}

#box1 {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
	opacity: .52;
	z-index: 1;
	top: 0;
	left: 0;
}
#box2 {
	position: relative;
	width: 70vw;
	height: .4vh;
	background-color: #ffffff;
	z-index: 1;
	margin-top: 10vw;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: fadein 3s;
}

.title {
	font-family: 'Gilda Display', serif;
	color: #ffffff; 
	font-size: 10vw;
	margin: 0;
	z-index: 1;
	position: relative;
	margin-top: 5vw;
	margin-bottom: 0;
	text-align: center;
	-webkit-animation: fadein 3s;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}


#box3 {
	position: relative;
	width: 70vw;
	height: .4vh;
	background-color: #ffffff;
	z-index: 1;
	margin-top: 5vw;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: fadein 3s;
}

.page1 {
	position: relative;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	margin-top: 40vw;
	margin-bottom: 5vw;
	z-index: 1;
	left: 35px;
	-webkit-animation: fadein 3s;
}
.page2 {
	position: relative;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	margin-top: 0;
	margin-bottom: 5vw;
	z-index: 1;
	left: 35px;
	-webkit-animation: fadein 3s;
}
.page3 {
	position: relative;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	margin-top: 0;
	margin-bottom: 5vw;
	z-index: 1;
	left: 35px;
	-webkit-animation: fadein 3s;
}
.page4 {
	margin-top: 0;
	margin-bottom: 5vw;
	position: relative;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	z-index: 1;
	left: 35px;
	-webkit-animation: fadein 3s;
}
.page5 {
	margin-top: 0;
	margin-bottom: 5vw;
	position: relative;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	z-index: 1;
	left: 35px;
	-webkit-animation: fadein 3s;
}

#triangle1 {
	margin-top: 0;
	margin-bottom: 0;
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	position: absolute;
	left:-20px;
	-webkit-animation: fadein 3s;
}

#triangle2 {
	margin-top: 0;
	margin-bottom: 0;
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	left:-20px;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#triangle3 {
	margin-top: 0;
	margin-bottom: 0;
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	left:-20px;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#triangle4 {
	margin-top: 0;
	margin-bottom: 0;
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	left:-20px;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#triangle5 {
	margin-top: 0;
	margin-bottom: 0;
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	left:-20px;
	position: absolute;
	-webkit-animation: fadein 3s;
}

.disclaimer {
	font-family: 'Rosario', 
	sans-serif; 
	color: #000000;
	font-size: 2.9vw;
	padding-bottom: 15px;
	padding-top: 10px;
	
}

/*@media(min-width: 550px) {
	body {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}*/
}
