html, body {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}

body {
	width:90vw;
	margin-left: 5vw;
}

.background-container {
	width: 100vw;
	height: 100vh;
	background-image: url("paperbkg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: .8;

}

h1 {font-family: 'Gilda Display', serif; color: #AB0000;}

h2 {font-family: 'Gilda Display', serif; color: #AB0000;}

.header1 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px; 
	padding-top: 12px;

}

.header2 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

p {
	font-family: 'Rosario', 
	sans-serif; 
	color: #000000;
	font-size: 15px;
	line-height: 23px;
	text-indent: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
}

img {
	width:100vw;
	margin-left: -5vw;
}

.pullquote {
	font-family: 'Gilda Display', serif;
	color: #AB0000;
	font-size: 22px;
	line-height: 36px;
	text-indent: 10px;
	padding-left: 10vw;

}


.header3 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

.header4 {
	font-family: 'Gilda Display', serif;
	color: #AB0000; 
	font-size: 18px;
	padding-top: 12px;
}

a {
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff; 
	text-decoration: none;
	z-index: 1;
}

a:hover {
	text-decoration: none;
	color: yellow;
	transition: 2s;
	z-index: 1;
}

.slider {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;

}

.slide1 {
	background: url("cover1.jpg") no-repeat;
	animation:fade 15s infinite;
	-webkit-animation:fade 15s infinite;
}

/*.slide2 {
	background: url("cover2.jpg") no-repeat center;
	background-size: cover;
	animation:fade2 15s infinite;
	-webkit-animation:fade2 15s infinite;
}*/

.slide3 {
	background: url("cover3.jpg") no-repeat;
	animation:fade2 15s infinite;
	-webkit-animation:fade2 15s infinite;
}

.slide4 {
	background: url("cover4.jpg") no-repeat;
	animation:fade3 15s infinite;
	-webkit-animation:fade3 15s infinite;
}

.slide5 {
	background: url("cover5.jpg") no-repeat;
	animation:fade4 15s infinite;
	-webkit-animation:fade4 15s infinite;
}

@keyframes fade {
	0% {opacity: 1}
	33.333% {opacity: 0}
	66.666% {opacity: 0}
	100% {opacity: 1}
}

@keyframes fade2 {
	0% {opacity: 0}
	33.333% {opacity: 1}
	66.666% {opacity: 0}
	100% {opacity: 0}
}

@keyframes fade3 {
	0% {opacity: 0}
	33.333% {opacity: 0}
	66.666% {opacity: 1}
	100% {opacity: 0}
}

@keyframes fade4 {
	0% {opacity: 0}
	33.333% {opacity: 0}
	66.666% {opacity: 0}
	100% {opacity: 1}
}

#box1 {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
	opacity: .52;
	z-index: 1;
	top: 0;
	left: 0;
}

.title {
	font-family: 'Gilda Display', serif;
	color: #ffffff; 
	font-size: 10vw;
	margin: 0;
	z-index: 1;
	position: absolute;
	top: 10vh;
	left: 15vw;
	text-align: center;
	-webkit-animation: fadein 3s;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

#box2 {
	position: absolute;
	width: 70vw;
	height: .4vh;
	background-color: #ffffff;
	z-index: 1;
	top: 12vw;
	left: 15vw;
	-webkit-animation: fadein 3s;
}

#box3 {
	position: absolute;
	width: 70vw;
	height: .4vh;
	background-color: #ffffff;
	z-index: 1;
	top: 57vw;
	left: 15vw;
	-webkit-animation: fadein 3s;
}

.page1 {
	position: absolute;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	top: 110vw;
	left: 15vw;
	z-index: 1;
	-webkit-animation: fadein 3s;
}
.page2 {
	position: absolute;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	top: 120vw;
	left: 15vw;
	z-index: 1;
	-webkit-animation: fadein 3s;
}
.page3 {
	position: absolute;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	top: 135vw;
	left: 15vw;
	z-index: 1;
	-webkit-animation: fadein 3s;
}
.page4 {
	position: absolute;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	top: 150vw;
	left: 15vw;
	z-index: 1;
	-webkit-animation: fadein 3s;
}
.page5 {
	position: absolute;
	font-family: 'Rosario', 
	sans-serif; 
	color: #ffffff;
	font-size: 4vw;
	top: 160vw;
	left: 15vw;
	z-index: 1;
	-webkit-animation: fadein 3s;
}

#triangle1 {
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	top: 111vw;
	left: 10vw;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#triangle2 {
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	top: 121vw;
	left: 10vw;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#triangle3 {
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	top: 136vw;
	left: 10vw;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#triangle4 {
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	top: 151vw;
	left: 10vw;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#triangle5 {
	width: 0;
	height: 0;
	border-top: 2vw solid transparent;
	border-left: 3vw solid yellow;
	border-bottom: 2vw solid transparent;
	z-index: 1;
	top: 161vw;
	left: 10vw;
	position: absolute;
	-webkit-animation: fadein 3s;
}

#box4 {
	position: absolute;
	width: 100vw;
	height: 5vh;
	background-color: #AB0000;
	opacity: .8;
	z-index: -1;
	top: 841.5vw;
	left: 0vw;
}

#box5 {
	position: absolute;
	width: 100vw;
	height: 5vh;
	background-color: #AB0000;
	opacity: .8;
	z-index: -1;
	top: 1080.5vw;
	left: 0vw;
}

#box6 {
	position: absolute;
	width: 100vw;
	height: 5vh;
	background-color: #AB0000;
	opacity: .8;
	z-index: -1;
	top: 858.5vw;
	left: 0vw;
}

#box7 {
	position: absolute;
	width: 100vw;
	height: 5vh;
	background-color: #AB0000;
	opacity: .8;
	z-index: -1;
	top: 1211.5vw;
	left: 0vw;
}

#box8 {
	position: absolute;
	width: 100vw;
	height: 5vh;
	background-color: #AB0000;
	opacity: .8;
	z-index: -1;
	top: 851.5vw;
	left: 0vw;
}
